
*{
  margin:0;
  padding:0;
}
hr{
  margin-left: 100px;
  margin-right: 100px;
  color:white;
}
body{
  background-color:rgba(46,61,90,255);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  overflow-x: hidden;
  color:white;
  
}
.first_section{
   display: flex;
   margin:23px 0;
   color:white;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
}
.first_section > div{
  width:30%;
          }
.left{
  font-size: 3rem;
  margin:50px 0;
}

.right{
  width:100%;
  margin-top: 50px 0;
}
#element{
  color:#ec3438;
}

.first_section .heading{
  align-items: center;
  justify-content: center;
  color:#2e3d5a;

}
/*cube css*/

.right .cube {
  width: 200px;
  height:200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
  background-color: #fff;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
}

.right .box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #fff;
}

/* Applying styles to each face */
.right .box1 {
  transform: translateZ(100px);
  background-color: #fff;
}

.right .box2 {
  transform: rotateY(90deg) translateX(100px);
  transform-origin: right;
  background-color: #fff;
}

.right .box3 {
  transform: rotateY(180deg) translateZ(100px);
  background-color: #fff;
}

.right .box4 {
  transform: rotateY(-90deg) translateX(-100px);
  background-color: #fff;
  transform-origin: left;
}

.right .box5 {
  transform: rotateX(-90deg) translateY(-100px);
  background-color: #fff;
  transform-origin: top;
}

.right .box6 {
  transform: rotateX(90deg) translateY(100px);
  background-color: #fff;
  transform-origin: bottom;
}

/* Animating the elements */
@keyframes rotate {
  0%,
  100% {
      transform: rotate(0deg);
  }
  20% {
      transform: rotateY(90deg) rotateZ(90deg);
  }
  40% {
      transform: rotateY(180deg) rotateZ(-90deg);
  }
  60% {
      transform: rotateY(270deg) rotateZ(90deg);
  }
  80% {
      transform: rotateY(360deg) rotateZ(-90deg);
  }
}

/* hero section media*/
@media screen and (max-width: 768px) {
.first_section{
  display: flex;
  flex-direction: column-reverse;
  padding-top: 50px;
  font-size: 1rem;
  height: auto;
} 
.left{
  font-size: 2rem;
  margin:10px 0;
  justify-content: center;
  padding-top: 50px;
}
.first_section > div{
  width:50%; 
}
.slider {
  margin-top: 20px;
  background-color: whitesmoke;
  padding: 1em 6em;
  height: 200px;

}
}

/* partners */
.slider img {
  width: 150px;
  height: 80px;
  animation: scroll 25s linear infinite;
  padding-right:15px;
  padding-top: 15px;
}
.slide{
  padding-right: 100px;
 
}
.slide-track {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: min-content;
  padding-top: 30px;
}

.slider {
  margin-top: 20px;
  background-color: whitesmoke;
  padding: 1em 6em;
  height: 200px;

}
.heading{
  align-items: center;
  color:#2e3d5a;
  justify-content: center;
  text-justify: center;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: max-content;

} 

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translateX(-1000%)}
}

.heading_1{
  align-items: center;
  color:white;
  justify-content: center;
  text-justify: center;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: max-content;
}


